:root {
  --primary-color: #262626;
  --secondary-color: #f7f7f7;

  --grid-gutter: 1.6rem;
  --grid-page-padding: 2.4rem;
  --grid-max-width: 114rem;
}

html {
  font-size: 62.5%; /* Set font size to 10px, when using rem */
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem; /* Use 16px font size, as a base font size */
}
